<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>BREW HOUSE</title>
    {% include 'fav.html'%}
</head>
<body>
    <footer class="ecommerce-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Address</h4>
                    <p style="font-family: 'FontAwesome';">Pavillion Mall,<br> SB road, <br>Beside opposite Live Space</p>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <p><i class="fas fa-map-marker-alt">Email: brewhousecoffee@gmail.com</i></p>
                    <p><i class="fas fa-envelope">Phone no.: 9211420519</i></p>
                    <p><i class="fas fa-phone">Telephone: +011 6782 2948</i></p>
                </div>
                <div class="col-md-4">
                    <h4>Stay Connected</h4>
                    <p><i class="fas fa-map-marker-alt"><a href="https://www.instagram.com/" target="_blank">Instagram <br></a></i></p>
                    <p><i class="fas fa-map-marker-alt"><a href="https://twitter.com/?lang=en" target="_blank">X <br></a></i></p>
                    <p><i class="fas fa-map-marker-alt"><a href="https://www.facebook.com/" target="_blank">Facebook <br></a></i></p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <hr class="hc">
            <br>
            <div class="row">
                <div class="copyright">
                    <p >&copy; 2023 BREW HOUSE. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
