<!DOCTYPE html>
<html>

<head>
    <title>BREW HOUSE</title>
    {% include 'fav.html'%}
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body>
    {% include 'nav.html'%}
    <section class="menu2">
        <div class="divisions">
            <ul>
                <li><a href='menu' class="underline-on-hover1">Beverages</a></li>
                <li><a href='cookies' class="underline-on-hover1">Cookies</a></li>
                <li><a href='sweets' class="underline-on-hover1">Sweet Treats</a></li>
                <li><a href='desserts' class="underline-on-hover1">Desserts</a></li>
            </ul>
        </div>
    </section>
    <section class="sectionmenu">
        <div class="product-card">
            <div class="product-image">
                <img src="/static/imgs/cupcakes.jpeg" alt="Product 1">
            </div>
            <div class="product-description">
                <h1>Cupcakes</h1>
            </div>
            <div class="product-price">
                ₹50/-
            </div>
            <div>
          <form action="cart" method="post">
            {% csrf_token %}
            <input type="hidden" name="Product-id" value="21" />
            <input type="hidden" name="Product-name" value="Cupcakes" />
            <input type="hidden" name="action" value="add" />
            <button type="submit" class="ATC-2">Add to Cart</button>
          </form>
        </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/static/imgs/Brownies.jpeg" alt="Product 1">
            </div>
            <div class="product-description">
                <h1>Brownies</h1>
            </div>
            <div class="product-price">
                ₹60/-
            </div>
            <div>
          <form action="cart" method="post">
            {% csrf_token %}
            <input type="hidden" name="Product-id" value="22" />
            <input type="hidden" name="Product-name" value="Brownies" />
            <input type="hidden" name="action" value="add" />
            <button type="submit" class="ATC-2">Add to Cart</button>
          </form>
        </div>
        </div>
    </section>
    <br><br>
    {% include 'footer.html'%}
</body>
</html>